# Use single-quotes so string will be literal (backslashes treated as is)
# (Especially important in Windows)

[names]
dir = 'C:\Cache\SL-Carto'
lock = 'RegionsDB2.lock'
log = 'RegionsDB2.log.yaml'
progress = 'RegionsDB2Progress.yaml'

[maps]
dir = 'C:\Cache\SL-Carto\Maps2'
lock = 'Maps.lock'
log = 'Maps.log.yaml'
progress = 'MapsProgress.yaml'

[mosaic]
domc_cache = 'CachedDominantColors.pkl'
